@using BudgetManager.Models.ViewModels

@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "¿Olvidaste tu contraseña?";
}

<h1>Recupera tu cuenta</h1>

<div class="card">
    <div class="card-body">
        <p class="fw-bold text-bg-success">@ViewBag.Message</p>

        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" type="email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Recuperar</button>
            <a asp-action="LogIn" class="btn btn-secondary">Cancelar</a>

        </form>
    </div>
</div>
