@using BudgetManager.Models.Entities
@using BudgetManager.Models.Enums
@model Category

@{
    ViewData["Title"] = "Editar Categoría";
}

<h1>Editar Categoría</h1>
<h5>
    La categoría nos permite indicar en qué gastamos nuestro dinero,
    tambien, de dónde provienen nuestros ingresos.
</h5>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Id"/>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" type="text" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TransactionTypeId" class="form-label"></label>
        <select asp-for="TransactionTypeId" asp-items="@Html.GetEnumSelectList<TransactionType>()" class="form-select"></select>
        <span asp-validation-for="TransactionTypeId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
